<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="dist/bootstrap-5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="dist/font-awesome-pro-6.2.1/css/all.min.css">
    <script src="dist/vue-3.5.13/vue.global.js"></script>
</head>
<body>
    <div id="app" class="pt-3">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li
                            v-for="(tabItem, tabIndex) in tabs.items"
                            :key="tabItem.key"
                            class="nav-item"
                            @click="activateTab(tabIndex)"
                        >
                            <a
                                class="nav-link"
                                :class="{'active': tabIndex === tabs.active}"
                                style="cursor: pointer"
                            >
                                {{ tabItem.label }}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <!-- Shop -->
                    <div v-if="inShopTab">
                        <h1>Shop</h1>
                        <div class="row">
                            <div
                                v-for="(product, productIndex) in products"
                                class="col-sm-4 pb-3"
                            >
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h4>{{ product.name }}</h4>
                                        <p class="m-0">Price: ${{ product.price.toLocaleString() }}</p>
                                        <p class="m-0">Stocks: {{ product.stocks.toLocaleString() }}</p>
                                    </div>

                                    <div class="card-footer">
                                        <button class="btn btn-primary" @click="addToCart(product)" :disabled="product.stocks <= 0">
                                            <i class="fa fa-cart-shopping"></i>
                                            Add To Cart
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Cart -->
                    <div v-else-if="inCartTab">
                        <h1>Cart</h1>
                        <div class="row">
                            <div
                                v-for="(product, productIndex) in cart"
                                class="col-sm-4 pb-3"
                            >
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h4>{{ product.name }}</h4>
                                        <p class="m-0">Price   : ${{ product.price.toLocaleString() }}</p>
                                        <p class="m-0">Quantity: {{ product.quantity.toLocaleString() }}</p>
                                        <p class="m-0">Total Price: ${{ product.totalPrice.toLocaleString() }}</p>
                                    </div>

                                    <div class="card-footer">
                                        <button class="btn btn-outline-danger" @click="removeFromCart(productIndex)">
                                            <i class="fa fa-remove"></i>
                                            Remove
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="d-flex justify-content-end">
                                    <div>
                                        <h5>${{ cartTotal.toLocaleString() }}</h5>
                                        <button class="btn btn-success">Checkout</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Checkout -->
                    <div v-else-if="inCheckoutTab">
                        <h1>Checkout</h1>
                    </div>
                </div>
            </div>




        </div>
    </div>

    <script src="js/index.js"></script>
</body>
</html>